body {background: #000 url(index.png) no-repeat center 230px;}
#miaov {position:relative; height:500px; margin:0; }
#miaov a {position:absolute; top:0px; left:0px; font-family: Microsoft YaHei; color:blue; font-weight:bold; text-decoration:none; padding: 3px 6px; }
#miaov a:hover {border: 1px solid #eee; background: #000; }
#miaov .blue {color:blue;}
#miaov .red {color:red;}
#miaov .yellow {color:yellow;}
#miaov .green {color:green;}
#miaov .purple {color:purple;}
#miaov .grey {color:grey;}

p { font: 16px Microsoft YaHei; text-align: center; color: #ba0c0c; }
p a { font-size: 14px; color: #ba0c0c; }
p a:hover { color: red; }